menuentry "myOS" {
    insmod multiboot2
    echo "platform: ${grub_platform}"
    if [ "${grub_platform}" = "efi" ]; then
        insmod efi_gop
        insmod efi_uga
    else
        insmod vbe
    fi
    insmod gfxterm
    set gfxpayload=1920x1080x32
    multiboot2 /boot/kernel.bin
    boot
}
